* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background: linear-gradient(0deg, rgb(255, 251, 211) 0%, rgba(237,245,249,1) 63%);
}

button {
  background: radial-gradient(circle, rgb(186, 204, 240) 0%, rgba(115, 160, 228, 0.954) 100%);
  border-radius: 8px;
  color: #13293d;
  cursor: pointer;
  font-size: 2em;
  letter-spacing: 0.21px;
  line-height: 16px;
  max-width: 255px;
  padding: 20px 52px;
  text-align: center;
  transition-duration: 0.15s;
  transition-property: background-color;
  transition-timing-function: linear;
  margin-top: 0.6em;
  align-items: right;
}

header {
  padding: 15px;
  background: #837733;
  color: #fff;
  border-bottom:30px #879274;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 1.5em;
}

main p{
  width: 100%;
  text-align: center;
}

.large-font {
  font-size: 3.5em;
  text-align:left;
}

.timer {
  height: 30px;
  padding: 5px;
  margin-top: 20px;
  background: #13293d;
  width: fit-content;
}

@media screen and (max-width: 1183px) {
  main {
    flex-direction: column;
  }

}

@media screen and (max-width: 504px) {
  .large-font {
    font-size: 2em;
  }

  .timer {
    height: 200px;
  }
}

.panel{
  margin-top: 10vh;
  justify-content: center;
}